nav {
  border: 1px solid red;
  width: 60%;
  align-self: center;
  margin: 30px;
  margin-left: 20%;

  background-color: pink;
  padding: 20px;
  border-radius: 5px;
}
nav {
  display: block;
}
form {
  display: block;
  margin-top: 0em;
}
nav form:first-child input {
  border: 0px;
  padding: 10px;
}
input {
  border-radius: 5px;
  width: 50%;
}
button {
  margin-left: 20px;
}
.dataResult {
  margin-top: 5px;
  width: 300px;
  height: 200px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}

.dataResult::-webkit-scrollbar {
  display: none;
}

.dataResult .dataItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
}

.dataItem p {
  margin-left: 10px;
}
p {
  text-decoration: none;
}

p:hover {
  background-color: lightgrey;
}

#clearBtn {
  cursor: pointer;
}
