@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body {
  font-family: sans-serif;
}
.wrapper {
  /* max-width: 1100px; */
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  margin: 0% auto;
  justify-content: space-around;
}
body::-webkit-scrollbar {
  display: none;
}
