footer {
  height: 150px;
  background-color: #222;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
}
div {
  display: block;
}
a {
  color: #fff;
  cursor: pointer;
  text-decoration: underline;
}
