.setup {
  width: 50%;
  justify-content: center;
  /* margin-left: 12%; */
  max-width: 300px;
}
h4 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
span {
  margin-left: 5px;
}
ul {
  list-style: none;
}

ul > li:nth-child(odd) {
  background-color: #ccc;
}

ul > li:nth-child(even) {
  background-color: #fff;
}
