* {
  margin: 0px;
  padding: 0px;
}
.contains {
  background-color: #222;
  height: 230px;
  padding-top: 1%;
  color: #fff;
  text-align: center;
}

.contains i.fa.fa-shopping-basket.fa-6 {
  font-size: 8em;
}
h4 {
  margin-top: 1%;
  font-family: sans-serif;
  font-weight: bold;
}
