li:hover {
  font-family: FontAwesome;

  /* background-color: greenyellow; */
  justify-content: space-between;
  margin-right: 3px;
}
li {
  height: 40px;
  padding-top: 10px;
  border-radius: 2em;
}

li > i {
  color: #fff;
}

.green:hover {
  color: green;
}

.red:hover {
  color: red;
}
